{
 "semi": false,
 "singleQuote": true,
 "overrides": [
    {
        "files": "**/*.js",
        "options": {
            "parser": "babel"
        }
    },
    {
      "files": "**/*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": "**/*.json",
      "options": {
        "parser": "json",
        "tabWidth": 2,
      }
    }

  ]
}
